<app-menu></app-menu>
<div class="container d-flex justify-content-center">
    <div class="card">
        <div class="card-header text-center">
            Iniciar Sesión
        </div>
        <div class="card-body">
            <form #f="ngForm">
                <div class="form-group">
                    <label for="nombreUsuario">Usuario</label>
                    <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control" placeholder="Correo electronico"
                    [(ngModel)]="nombreUsuario" required #userName>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" class="form-control" #userPassword>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-success btn-block" (click)="authService.SingIn(userName.value, userPassword.value)">
                        <i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
                </div>
                <a href="/forgot-password" >Olvidé mi contraseña</a>
            </form>
        </div>
    </div>
</div>
