<app-menu></app-menu>
<div class="container d-flex justify-content-center">
	<div class="card">
        <div class="card-header text-center">
            ¿Olvidaste tu contraseña?
        </div>
        <div class="card-body">
            <p class="card-text">Ingrese su dirección de correo electrónico para solicitar restablecer su contraseña.</p>
            <form #f="ngForm">
                <div class="form-group">
                    <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control" placeholder="Correo electronico"  
                    #passwordResetEmail required>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-success btn-block" (click)="authService.ForgotPassword(passwordResetEmail.value)">
                        <i class="fas fa-sign-in-alt"></i>Recuperar contraseña</button>
                </div>
            </form>
        </div>
    </div>
</div>