  <app-menu></app-menu>
  <button class="btn btn-primary mb-2" (click)="exportar()">Exportar a excel</button>
  <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
    
    <table id="excel-table" class="table table-hover">
      <thead>
        <tr>           
          <th *ngFor="let header of getHeaders()">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">           
          <td *ngFor="let key of getHeaders()">{{item[key]}}</td>
        </tr>
      </tbody>
    </table>
  </div>