
<app-menu></app-menu>

<div class="container">
    <form>
        <div class="form-group">
            <div class="form-row align-items-center">
                <div class="col-sm-3 my-1">
                    <label class="sr-only" for="inlineFormInput">Name</label>
                    <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Nombre archivo">
                </div>
                    <button type="submit" class="btn btn-primary mb-2">Buscar</button>
            </div>
        </div>
    </form>

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Extension</th>
        <th scope="col">Fecha</th>
        <th scope="col">Borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let archivo of archivos">
        <td>{{archivo.nombre}}</td>
        <td>{{archivo.extension}}</td>
        <td>{{archivo.createdAt}}</td>
        <td><button class="btn btn-outline-primary" routerLink="/detalle/{{archivo.id}}"><i class="far fa-eye"></i> Detalle</button></td>
        <td><button class="btn btn-outline-danger" (click)="borrar(archivo)"><i class="far fa-trash-alt"></i> Eliminar</button></td>
      </tr>
    </tbody>
  </table>

</div>