
<app-menu></app-menu>


<div class="form-group">
    <input type="file" name="file" id="file" class="input-file" (change)="onFileChange($event)">
    <label for="file" class="btn btn-tertiary js-labelFile">
      <i class="icon fa fa-check"></i>
    </label>
</div>

<!-- <div id="output"></div>
  <table class="sjs-table">
    <tbody>
      <tr *ngFor="let row of data">
      <td *ngFor="let val of row">
        {{val}}
      </td>
    </tr>
    </tbody>
  </table>
<br> -->