
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">FSA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/index" *ngIf="isLogged"><i class="fas fa-home"></i> Inicio</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/carga" *ngIf="isLogged"><i class="far fa-list-alt"></i> Cargar archivo</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link"  routerLink="/login" *ngIf="!isLogged"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" style="cursor: pointer;" *ngIf="isLogged" (click)="authService.SignOut()"><i class="fas fa-door-open"></i> Cerrar Sesión</a>
          </li>
        
      </ul>
    </div>
  </nav>